@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollable-container {
  height: calc(100vh/2 - 100vh/10);
  min-height: 280px;
}