@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  min-height: 680px;
  min-width: 900px;
}

* {
  @apply transition-colors duration-200;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollable-container {
  height: calc(100vh/2 - 100vh/10);
  min-height: 280px;
}